html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../img/pattern.png');
  color: #333333;
  font: 22px Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.big-container {
  background: #950095;
  margin: 10px auto 10px auto;
  width: 800px;
  height: 710px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -ms-border-radius: 15px 15px 15px 15px;
  -o-border-radius: 15px 15px 15px 15px;
}

.header-container {
  color: white;
  margin: 0 15px 15px 15px;
  padding-top: 10px;
  font-size: 60px;
}

label.header.ge {
  float: right;
}

.orders-container {
  margin: 0 15px 15px 15px;
  height: 600px;
  background: white;
  overflow:scroll;
}

.dummy {
  padding-top: 4px;
}

.order-list-item-container {
  background: white;
  border: 1px solid #950095;
  margin: 5px;
  padding: 5px;
}

.order-list-item {
  border: 1px solid #950095;
  display: inline;
  margin-right: 10px;
  padding: 0 5px 0 5px;
}

.order-list-item.button {
  border: none;
  width: 20px;
  display: inline;
  float: right;
  margin: 0 0 0 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}


